vir_env/
external/


__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/


data/
datasets/
checkpoints/
models/saved_models/
*.pth
*.pt
*.h5
*.hdf5
*.ckpt


runs/
*.log


.ipynb_checkpoints/


.vscode/

.DS_Store
Thumbs.db

blackbox.zip
